#categories-content {
  margin: 0;
  padding: 0;
}

.category {
  display: flex;
  flex-direction: row;
}

.categoryEn {
  display: inline-block;
  flex: 1 1 auto;
  height: 24px !important;
  margin: 0 8px !important;
  padding: 0 !important;
}
