<div id="categories-content">
  <div class="row" style="margin: 0">
    <div class="col s12">
      <label>Название Ru</label>
      <input type="text" (keyup.enter)="addCategory($event.target)">
    </div>
    <ul class="collection">
      <li class="collection-item category" *ngFor="let category of categories; let i = index">
        {{ category.title }}
        <input placeholder="Название En" [(ngModel)]="category.titleEn" class="categoryEn" type="text" (change)="updateCategory($event.target, category)">
        <span class="secondary-content" (click)="deleteCategory(i, category)">
          <i class="material-icons">close</i>
        </span>
      </li>
    </ul>
  </div>
</div>
