#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#header {
  background: #0288D1;
  padding: 16px;
  font-size: 24px;
  color: white;
}

#content {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  height: 0;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

#sidebar {
  height: 100%;
  max-width: 150px;
  min-width: 150px;
}

app-categories {
  height: 100%;
  flex: 1 1 auto;
  overflow-y: scroll;
}

app-sticker-packs {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

app-backup {
  height: 100%;
  flex: 1 1 auto;
}

app-settings {
  height: 100%;
  flex: 1 1 auto;
}

.selected-menu {
  background: #eeeeee;
}
