<div id="container">
  <div id="header">
    <span>Stickers Admin</span>
  </div>
  <div id="content">
    <div id="sidebar">
      <ul class="collection">
        <li class="collection-item" [class.selected-menu]="menuPosition == 0" (click)="menuPosition = 0">Категории</li>
        <li class="collection-item" [class.selected-menu]="menuPosition == 1" (click)="menuPosition = 1">Стикерпаки</li>
        <li class="collection-item" [class.selected-menu]="menuPosition == 2" (click)="menuPosition = 2">Данные</li>
        <li class="collection-item" [class.selected-menu]="menuPosition == 3" (click)="menuPosition = 3">Настройки</li>
      </ul>
    </div>
    <app-categories [categories]="categories" [style.display]="menuPosition == 0 ? 'block' : 'none'"></app-categories>
    <app-sticker-packs [categories]="categories" [stickersPack]="stickersPack" [style.display]="menuPosition == 1 ? 'flex' : 'none'"></app-sticker-packs>
    <app-backup [infoApp]="infoApp" [stickersPack]="stickersPack" [style.display]="menuPosition == 2 ? 'block' : 'none'"></app-backup>
    <app-settings [infoApp]="infoApp" [style.display]="menuPosition == 3 ? 'block' : 'none'"></app-settings>
  </div>
</div>
