html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 900px;
}

app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0 !important;
  cursor: pointer;
}

input {
  max-height: 30px;
}

p {
  margin-left: 12px;
}

.sticker {
  width: 128px;
  height: 128px;
  margin-left: 12px;
  margin-top: 8px;
}
