<div id="backup-container" ngx-auto-scroll>
  <div class="row">
    <p>
      <span>
        Общее количество стикеров {{ getStickersCount() }}<br>
      </span>
      <span>
        Последнее обновление данных {{ infoApp.stickersBackupDate }}<br>
      </span>
    </p>
    <label style="margin-left: 12px">
      <input type="checkbox" [(ngModel)]="reset" />
      <span>После удаления папки</span>
    </label>
    <button #update class="waves-effect waves-light btn" (click)="startBackup()" style="margin-left: 12px">Обновить</button>
    <button (click)="cancelBackup()" class="waves-effect waves-teal btn-flat">Отмена</button>
    <p>
      <span *ngFor="let log of logs" [style.font-weight]="log.indexOf('информаци') !== -1 ? 'bold': 'normal'">
        {{ log }}<br>
      </span>
    </p>
  </div>
</div>
