<div id="list-content">
  <div class="row" style="margin: 0">
    <div class="col s12">
      <label>Название Ru</label>
      <input type="text" (keyup.enter)="saveStickerPack($event.target)">
    </div>
    <ul class="collection">
      <li class="collection-item" *ngFor="let stickerPack of stickersPack; let i = index">
        <label>
          <input class="with-gap" name="sticker-pack" type="radio" [checked]="currentPack == i" (click)="onSelectSticker(i)"/>
          <span>{{ stickerPack.title }}</span>
        </label>
        <span class="secondary-content" (click)="deleteStickerPack(i, stickerPack)">
          <i class="material-icons">close</i>
        </span>
      </li>
    </ul>
  </div>
</div>
<div id="detail-content" *ngIf="stickersPack.length > 0">
  <div class="row">
    <div class="col s12">
      <label>Название Ru</label>
      <input [(ngModel)]="stickersPack[currentPack].title" type="text">
    </div>
    <div class="col s12">
      <label>Название En</label>
      <input [(ngModel)]="stickersPack[currentPack].titleEn" type="text">
    </div>
    <div class="col s12">
      <label>Категория</label>
      <select [(ngModel)]="stickersPack[currentPack].category" class="browser-default">
        <option value="">Не выбрано</option>
        <option *ngFor="let category of categories" [value]="category._uid">
          {{ category.title }}
        </option>
      </select>
    </div>
    <div class="col s12">
      <label>Ключевые слова</label>
      <tag-input [(ngModel)]='stickersPack[currentPack].keywords' theme='minimal' [modelAsStrings]="true" [placeholder]="'Введите тэг'" [secondaryPlaceholder]="'Введите тэг'"></tag-input>
    </div>
    <div class="col s12" style="margin: 8px 0 4px 0">
      <span>tg://addstickers?set=</span>
      <div style="display: inline-block">
        <input [value]="stickersPack[currentPack].stickerSet ? stickersPack[currentPack].stickerSet.name : ''"
               type="text" (keyup.enter)="searchStickers($event.target)">
      </div>
      <span>{{ errorMessage }}</span>
    </div>
    <div *ngIf="stickersPack[currentPack].stickerSet">
      <div class="sticker-container">
        <label>
          <input class="with-gap" name="preview" type="radio" [checked]="stickersPack[currentPack].preview == ''" (click)="stickersPack[currentPack].preview = ''"/>
          <span></span>
        </label>
        <img class="sticker" src="../assets/no-preview.png">
        <span style="background: transparent" [class.selected-sticker]="stickersPack[currentPack].preview == ''" class="emoji"></span>
      </div>
      <div *ngFor="let sticker of stickersPack[currentPack].stickerSet.stickers" class="sticker-container">
        <label>
          <input class="with-gap" name="preview" type="radio" [checked]="stickersPack[currentPack].preview == sticker.file_id" (click)="stickersPack[currentPack].preview = sticker.file_id"/>
          <span></span>
        </label>
        <app-sticker [sticker]="sticker"></app-sticker>
        <span [class.selected-sticker]="stickersPack[currentPack].preview == sticker.file_id" class="emoji">{{ sticker.emoji }}</span>
      </div>
    </div>
  </div>
</div>
