#list-content {
  height: 100%;
  max-width: 400px;
  min-width: 400px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

#detail-content {
  flex: 1 1 auto;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.sticker-container {
  position: relative;
  display: inline-block;
}

.sticker-container label {
  position: absolute;
  top: 8px;
  right: -8px;
}

.selected-sticker {
  background: #90CAF9 !important;
}

.emoji {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 6px;
  right: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 24px;
  background: white;
}
