<div id="settings-content">
  <div class="row">
    <div class="col s12">
      <label>Хост прокси</label>
      <input [(ngModel)]="infoApp.proxyHost" type="text">
    </div>
    <div class="col s12">
      <label>Порт прокси</label>
      <input [(ngModel)]="infoApp.proxyPort" type="text">
    </div>
    <div class="col s12">
      <label>Пользователь прокси</label>
      <input [(ngModel)]="infoApp.proxyUsername" type="text">
    </div>
    <div class="col s12">
      <label>Пароль прокси</label>
      <input [(ngModel)]="infoApp.proxyPassword" type="text">
    </div>
    <div class="col s12">
      <label>Токен бота</label>
      <input [(ngModel)]="infoApp.botToken" type="text">
    </div>
    <button class="waves-effect waves-light btn" (click)="saveInfo($event.target)" style="margin-left: 12px">Сохранить</button>
    <div class="col s12" style="margin-top: 8px">
      <button (click)="logout()" class="waves-effect waves-teal btn-flat">Выйти</button>
    </div>
  </div>
</div>
